body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 31, 31);
    min-height: 100vh;
}

.center{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#banner{
    font-size:2rem ;
    color: aliceblue;
}
.clock
{
    margin-top: 20px;
    height: 40px;
    width: 160px;
    border-radius: 0.85rem;
    background-color: coral;
    font-size: 30px;
    padding-left: 38px;
}