*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    background-color:  rgb(210, 191, 191);
}
.container{
    margin-top: 50px;
    height: 600px;
    width: 400px;
    background-color: rgb(159, 147, 147);
    border-radius: 0.5rem;
 
  

  
}

h1 {
    margin: 20px;
}
 p {
    margin: 20px;
    margin-left: 20px;
}
p label,input{
font-size: 15px;
text-decoration: none;
}

button
{
    margin: 20px;
    margin-left: 130px;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    width: 100px;
    height: 25px;
}
.res{
display: flex;
justify-content: center;
align-items: center;
/* border: 2px solid rgb(211, 208, 208); */
height: 40px;
}

.results{
    font-size: 1.4rem;
    color: white;
}



#weight-guide{
        margin-top: 70px;
    /* margin-left: 20px; */

    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
}
h3{
    margin-left: 20px;
}