*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* border area will count inside the height and width not outside area content area small hoga outer nhi */
    border:  border-box;     
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px
}

.logo{
    height: 50px;
    background-image: url(amazon_logo.png);
    width: 100px;
    background-size: cover;
}
.border{
border: 1.5px solid transparent;   
    padding: 5px;

}
.border :hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
     font-size: 0.85rem;
     margin-left: 20px;
}

.add-sec{
    color: white;
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    align-items: space evenly;
    margin-left: 20px;
    background-color: #2b86c8;
    width:620px ;
    border-radius: 3px;
    height: 40px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}



.search-input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
}

.nav-search:hover{
    border: 3px solid #febd68;
}

.search-icon{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}


/* box 4 */


 

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
font-weight: 700;
}


/* box 6*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */

.panel{
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #222f3d;
    color: white;

}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/*hero section*/

.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 360px;
    display: flex;
    align-items: flex-end;    
    justify-content: center;
  
}


.text{
    background-color: white;
    width: 95%;
    height: 40px;
    padding-left: 5px;

    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text p {
    font-size: 0.9rem;
    color: #0f1111;
}

.text a {
    font-size: 0.9rem;
   text-decoration: none;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid #0f1111; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 6px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box-content{
  margin-left: 1rem;
  margin-right: 1reem;
}

.box-content p{
    color: #2b86c8;
}